* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#appHeader{
  height: 10vh;
}

#appMain{
  height: 50vh;
}

#appFooter{
  height: 40vh;
}

#iconSpace{
  height: 100px;
}

.navBar {

  a {
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
}